# Dependências
node_modules
npm-debug.log

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Arquivos de build/produção
dist/
build/
.next/
out/

# Arquivos de teste
coverage/
*.test.js

# Arquivos do Git
.git
.gitignore

# Arquivos Docker
Dockerfile
.dockerignore
